html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    background: #0D1112;
    height: 100%;
    color: #ececec;
}

.navbar-image img {
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
}

.navbar-title {
    background: #040505;
    color: #ececec;
    font-size: 2rem;
    display: block;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 5px 15px;
    margin-left: -5%;
}

.navbar {
    font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Space Mono', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav .nav-item {
    margin: auto 20px;
    padding: 15px 25px;
    cursor: pointer;
    color: #ececec;
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar-nav .nav-item:hover {
    background: #383e4a;
}
